* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: white;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.button {
  background-color: rgb(28, 63, 175);
  color: white;
  padding: 10px 20px;
  border: 0;
  outline: none;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.button i {
  margin-right: 10px;
}

.cards-block {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 10px;
}

.cards-block h3 {
  margin: 0;
}

h2 {
  font-weight: normal;
}

h2 > span {
  font-weight: 900;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card {
  flex: 1;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 12px -3px rgba(173, 171, 173, 1);
  -moz-box-shadow: 0px 5px 12px -3px rgba(173, 171, 173, 1);
  box-shadow: 0px 5px 12px -3px rgba(173, 171, 173, 1);
}

.card .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card .value {
  font-weight: 800;
}

.insights-block {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}

.insights-block h3 {
  margin: 0;
}

.insight-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1 0 0;
}

.insight-card .items {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0px 0px 10px 0;
}
.insight-card {
  border-radius: 6px;
  flex: 1;
  -webkit-box-shadow: 0px 5px 12px -3px rgba(173, 171, 173, 1);
  -moz-box-shadow: 0px 5px 12px -3px rgba(173, 171, 173, 1);
  box-shadow: 0px 5px 12px -3px rgba(173, 171, 173, 1);
}
.insight-card h4 {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 2px 0px;
}

.insight-card .items p {
  margin-bottom: 0;
  margin-top: 30px !important;
}

.insight-card input {
  min-width: 110px;
  max-width: 150px;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: 2px solid grey;
}
